/* Status e prioridade */
.priority,
.status,
.role {
  display: inline-block;
  
  border-radius: 6px;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
}

.priority,
.status{
  padding: 6px 10px;
  min-width: 100px;
}

.role {
  padding: 1px 5px;
  min-width: 70px;
}
.status-pending, .status-under-maintenance {
  background-color: #fff3cd;
  color: #856404;
}

.status-progress, .role-editor{
  background-color: #d1ecf1;
  color: #0c5460;
}

.status-completed,
.status-approved,
.status-available,
.priority-low,
.role-user {
  background-color: #d4edda;
  color: #155724;
}


.priority-medium {
  background-color: #ffe0b2;
  color: #974706;
}

.priority-high, .status-out-of-service, .role-admin {
  background-color: #ffcdd2;
  color: #a30808;
}

.priority-urgent {
  background-color: #e1c8ea;
  color: #4f0568;
}

.description-column {
  word-break: break-word;
  font-size: small;
  text-align: start;
}

.icon {
  width: 20px;
  height: 20px;
  filter: grayscale(30%);
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}